*.cro
*.syms
*.spec
*.o
.gdbinit
btconfig/
btdevctl/
cat/
chmod/
chown/
chroot/
cp/
date/
dd/
devices.spec.tmp
df/
dmesg/
envstat/
getty/
grep/
gzip/
hostname/
id/
ifconfig/
init/
less/
ln/
login/
ls/
mkdir/
mknod/
mount/
mount_ffs/
mount_kernfs/
mount_procfs/
mount_tmpfs/
mv/
pax/
ping/
powerd/
ps/
pwd/
ramdisk.fs
ramdiskbin
ramdiskbin.c
ramdiskbin.cache
ramdiskbin.conf
ramdiskbin.mk
ramdiskbin.unstripped
reboot/
rm/
rmdir/
route/
sed/
sh/
shutdown/
sleep/
stty/
sync/
sysctl/
tip/
touch/
tset/
ttyflags/
umount/
uname/
usbdevs/
wall/
wdogctl/
work.built
work/
wsmoused/
